process {
    executor = 'slurm'
    queue = 'default'
    withLabel: light_job {
        clusterOptions = '--ntasks=8 --partition=barnard --account=p_nanoparticle --time=00:05:00 --cpus-per-task=2'
    }

    withLabel: heavy_job {
        clusterOptions = '--ntasks=1 --partition=barnard --account=p_nanoparticle --time=00:05:00 --cpus-per-task=8'

    }
}
